        <section class="two-thirds column">
            <h5>About</h5>
            <%= image_tag "DavidSimandl.jpg", alt: "David Simandl", class: "about-image"%>
            <p>
                My name is David Simandl and I am a freelance software developer
                located in Brooklyn NY.  I have a background of Python/Django development
                with some experince with Rails development (this site) on the side.
                I also am a <%= link_to "Runner", "http://www.pptc.org" %>.
                
                I am currently accepting freelance clients!  Feel free to contact me at
                <%= link_to "mail@davidsimandl.com", "mailto:mail@davidsimandl.com" %>
            </p>
    </section>