<!DOCTYPE HTML>
<html>
<head>
    <titl>David Simandl</titl>
</head> 
<body>
<header>
    <nav>
        <ul>
            <li><a href="#" title="#">Home</a></li>
            <li><a href="#" title="#">About</a></li>
            <li><a href="#" title="#">Resume</a></li>
        </ul>
    </nav>
    <section>
        <h1>David Simandl</h1>
        <p>Freelance Developer</p>
    </section>
</header>
        <section>
            <h1>About</h1>
            <img src="#" alt="#" />
            <p>
                My name is David Simandl and I am a freelance software developer
                located in Brookly NY.  I have a background of Python/Django development
                with some experince with Rails development (this site) on the side.
                I also am a <a href="pptc.org">Runner</a>.
                
                I am currently accepting freelance clients!  Feel free to contact me at
                <a href="mailto:mail@davidsimandl.com">mail@davidsimandl.com</a>
            </p>
    </section>
    <footer>
        <section>
        <h1>Copywrite</h1>
        <ul>
            <li><a href="#" title="#">Contact</a></li>
            <li><a href="#" title="#">Privacy Policy</a></li>
        </ul>    
        </section>
        <section>
            <h1>pages</h1>
            <ul>
                <li><a href="#" title="#">Home</a></li>
                <li><a href="#" title="#">About</a></li>
                <li><a href="#" title="#">Resume</a></li>
            </ul>
        </section>
        <section>
            <h1>social</h1>
            <ul>
                <li><a href="#" title="#">Linkedin</a></li>
                <li><a href="#" title="#">GitHub</a></li>
            </ul>
        </section>
    </footer>
    </body>
</html>