
        <section class="two-thirds column">
            <h5 class='main-head'>Privacy Policy</h5>
    <p>This website is hosted at Digital Ocean.  I collect no personal information of users accessing this site</p>
    </section>