<!DOCTYPE HTML>
<html>
<head>
    <titl>David Simandl</titl>
</head> 
<body>
<header>
    <nav>
        <ul>
            <li><a href="#" title="#">Home</a></li>
            <li><a href="#" title="#">About</a></li>
            <li><a href="#" title="#">Resume</a></li>
        </ul>
    </nav>
    <section>
        <h1>David Simandl</h1>
        <p>Freelance Developer</p>
    </section>
</header>
        <section>
            <h1>Resume</h1>
            <section>
                <h1>Qualifications</h1>
                <ul>
                    <li>Developing website (surmandl.com) for personal use in Django</li>
                    <ul>
                        <li>GitHub: https://github.com/dsimandl</li>
                        <li>Tech stack:</li>
                        <ul>    
                            <li>Twitter Bootstrap plus customizations</li>
                            <li>JQuery</li>
                            <li>Django</li>
                            <li>Fabric for deployments</li>
                            <li>Postgres</li>
                            <li>Deployed on AWS EC2</li>
                            <li>S3 for static files</li>
                            <li>Celery and Redis for deferred tasks</li>
                        </ul>
                    </ul>
                    <li>Developing professional website (davidsimandl.com) in Rails</li>
                    <ul>
                        <li>HTML5/CSS3 coded from hand</li>
                        <li>Developed on the Cloud9 IDE</li>
                        <li>Hosted at Digital Ocean</li>
                    </ul>
                    <li>Developed internal Flask based tool to display JSON data from the REST OpenAM API</li>
                    <li>Developed internal web based tool for data masking based on the Flask framework</li>
                    <li>Use of Python for the development of the following scripts</li>
                    <ul>
                        <li>XML manipulation script in order to parse and combine XML files for migration processes</li>
                        <li>LDAP querying script in order to update individual LDAP records</li>
                        <li>Script to build SQL files for execution</li>
                        <li>Script to execute SQL updates for migration</li>
                    </ul>
                    <li>Knowledge of SAML2, OAuth2, and OpenID Connect</li>
                    <li>Assisted with development of running club’s website in WordPress/PHP</li>
                    <ul>
                        <li>PPTC.org</li>
                    </ul>
                    <li>VB.NET Development for Dell One Identity Manager</li>
                    <li>SQL script development</li>
                    <li>Java Web Application (JSP) creation for custom authentication process</li>
                    <li>Custom development work using Java, JavaScript, HTML/CSS for CA Identity Manager</li>
                    <li>Custom development work using Java and JavaScript for Sun Identity Manager</li>
                    <li>Experince working in and with an agile development process</li>
                </ul>
            </section>
            <section>
                <h1>Skills</h1>
                <section>
                    <h2>Languages</h2>
                    <p>Python, HTML5, CSS3, Ruby, VB.NET, Java, SQL, JavaScript, PHP</p>
                </section>
                <section>
                    <h2>Frameworks</h2>
                    <p>Django, Rails, Flask, Bootstrap, WordPress</p>
                </section>
                <section>
                    <h2>Development Enviroments</h2>
                    <p>PyCharm, Cloud9, VIM, VisualStudio, Eclipse</p>
                </section>
                <section>
                    <h2>Databases</h2>
                    <p>MySQL, MS SQL, Postgres</p>
                </section>
                <section>
                    <h2>Source Code Management</h2>
                    <p>GitHub/Git, Subversion</p>
                </section>
                <section>
                    <h2>Identity/Access Management</h2>
                    <p>ForgeRock, OpenAM, Dell One, CA Identity Manager, Sun Identity Manager</p>
                </section>
                <section>
                    <h2>Operating Systems</h2>
                    <p>OSX, Linux, Windows Server</p>
                </section>
                <section>
                    <h2>Cloud Apps</h2>
                    <p>Google Apps, Basecamp, Box.Net</p>
                </section>
            </section>
            <section>
                <h1>Professional - Independent</h1>
                <section>
                    <h2>Independent software development - New York, New York </h2>
                    <p>02/13-Current</p>
                    <ul>
                        <li>Developing website with Django</li>
                        <li>Includes blog, photos, user authentication, current location, and music apps</li>
                        <li>BootStrap for front end (for now).  Using Crispy-Forms.</li>
                        <li>Postgres for the database</li>
                        <li>Celery and Redis for distributed tasks</li>
                        <li>Hosted on AWS EC2</li>
                        <li>Developing professional website wiht Rails</li>
                        <li>Hoested on Digital Ocean</li>
                    </ul>
                </section>
                <section>
                    <h2>Wordpress/PHP development – New York, New York</h2>
                    <p>04/12-07/14</p>
                    <ul>
                        <li>Was on the tech committee for my running club</li>
                        <li>Assisted in WordPress site development</li>
                        <li>Created PHP scripts for member race result functionality</li>
                    </ul>
                </section>
            </section>
            <section>
                <h1>Professional</h1>
                <section>
                    <h2>Identropy – New York, New York</h2>
                    <p>05/12-09/14</p>
                    <ul>
                        <li>Senior Identity Manager Engineer and Consultant</li>
                        <li>Flask development for internal projects</li>
                        <li>Quest One application development and configuration</li>
                        <li>VB.NET development for the Quest product</li>
                        <li>Process Orchestration and step configuration</li>
                        <li>Front end customization</li>
                        <li>Data migration</li>
                    </ul>
                </section>
                <section>
                    <h2>Mycroft – New York, New York</h2>
                    <p>11/09-04/12</p>
                    <ul>
                        <li>Identity Manager Engineer and Developer</li>
                        <li>Python scripting</li>
                        <li>Java Web Application development</li>
                        <li>Java development with product APIs</li>
                        <li>JavaScript form development </li>
                        <li>Product branding with CSS</li>
                        <li>Configured CA Identity Manager business logic with Policy Xpress</li>
                        <li>Assisted in technical documentation review and creation</li>
                        <li>Assisted in technical interview for other engineering positions</li>
                    </ul>
                </section>
                <section>
                    <h2>Weyerhaeuser – Federal Way, Washington</h2>
                    <p>01/08-10/09</p>
                    <ul>
                        <li>Sun Identity Manager developer developing custom forms, workflow, and rules</li>
                        <li>Provisioning to Active Directive, LDAP, and SQL via roles and attributes</li>
                        <li>Creation of design documentation for development</li>
                        <li>SQL script and stored procedure development</li>
                        <li>Test script development and support</li>
                        <li>.Net development for XML messaging</li>
                        <li>Integration with Web Services</li>
                        <li>Data gathering for audit requirements</li>
                    </ul>
                </section>
                <section>
                    <h2>Cobalt – Seattle, Washington (Contractor)</h2>
                    <p>07/07-12/07</p>
                    <ul>
                        <li>Managed releases in Pre-Prod and Production environments</li>
                        <li>Management of monthly releases</li>
                        <li>Release Management SharePoint designer</li>
                        <li>Refined and documented release management processes</li>
                        <li>Project Manager for a new Configuration Management Build Server</li>
                    </ul>
                </section>
                <section>
                    <h2>Hospira - Lake Forest, Illinois</h2>
                    <p>09/04-04/07</p>
                    <ul>
                        <li>Hitachi (M-Tech) Identity Management (P-Synch/ID-Synch) System Administrator</li>
                        <li>Integration with Active Directory, SAP, Oracle, and AS400</li>
                        <li>Responsible for initial configuration and continual administration of IdM system in a SOX and FDA regulated environment.</li>
                        <li>QA Engineering work.</li>
                        <li>Wrote SQL scripts to interact with external applications</li>
                        <li>Wrote exit point application code in P-Slang (based off C++ and Java)</li>
                        <li>Customized the suite on the front end (JavaScript and HTML)</li>
                        <li>Decreased provisioning time of a security request to under an hour</li>
                    </ul>
                </section>
            </section>
            <section>
                <h1>Education</h1>
                <section>
                    <h2>Wireless Telecommunications Graduate Certificate Program</h2>
                    <p>09/02-05/03</p>
                    <ul>
                        <li>Humber College – Toronto, Ontario</li>
                    </ul>
                </section>
                <section>
                    <h2>Telecommunications Management – Computer Science</h2>
                    <p>09/98-12/01</p>
                    <ul>
                        <li>Illinois State University - Normal, Illinois</li>
                        <li>Graduated with Bachelor of Science Degree</li>
                        <li>Telecommunication Management (Major) and Business Administration (Minor)</li>
                    </ul>
                </section>
            </section>
    </section>
    <footer>
        <section>
        <h1>Copywrite</h1>
        <ul>
            <li><a href="#" title="#">Contact</a></li>
            <li><a href="#" title="#">Privacy Policy</a></li>
        </ul>    
        </section>
        <section>
            <h1>pages</h1>
            <ul>
                <li><a href="#" title="#">Home</a></li>
                <li><a href="#" title="#">About</a></li>
                <li><a href="#" title="#">Resume</a></li>
            </ul>
        </section>
        <section>
            <h1>social</h1>
            <ul>
                <li><a href="#" title="#">Linkedin</a></li>
                <li><a href="#" title="#">GitHub</a></li>
            </ul>
        </section>
    </footer>
    </body>
</html>