<header>
    <nav>
        <ul class="navbar-list">
            <li class="navbar-item"><%= link_to "Home", root_path, class: "navbar-link" %></li>
            <li class="navbar-item"><%= link_to "About", about_path, class: "navbar-link" %></li>
            <li class="navbar-item"><%= link_to "Resume", resume_path, class: "navbar-link" %></li>
        </ul>
    </nav>
</header>
    <section class='two-thirds column'>
        <h4 class='bio-head'>David Simandl</h4>
        <p>Explorer and Developer</p>
    </section>